<div class="container">
  <%= simple_form_for([@artifact, @bid]) do |f| %>
      <h1><%= f.input :value %></h1>
      <%= f.button :submit, class: "btn btn-ghost" %>
    <% end %>

    <%= link_to "Go back", artifact_path(@artifact), class: "btn btn-ghost"  %>
</div>
