<div class="card-grid-artifact">
  <img src="images/michael_angelo.jpg" />
  <div class="card-artifact">
    <h2>Palace of Versailles</h2>
    <p>Michael Angelo</p>
  </div>

  <img src="images/pavel-nekoranec.jpg" />
  <div class="card-artifact">
    <h2>Sur le misanthrope</h2>
    <p>Pavel Nekoranec</p>
  </div>

  <img src="images/jeremy-lishner.jpg" />
  <div class="card-artifact">
    <h2>Photograph</h2>
    <p>Jeremy Lishner</p>
  </div>
</div>

