.container-show {
  background-color: #FFFFFF;
  margin: 30px;
  padding: 30px;
  box-shadow: 2px 2px 4px 4px 0.4 #ccc;
}

.form-bid {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-top: solid 3px black;
  padding-top: 50px;
}

.list {
  list-style: none;
  padding-left: 0px;
}

.details {
  font-size: 16px;
}
