.container {
  margin-bottom: 30px;
}

.container-dashboard {
  display: flex;
}

.container-table {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-top: solid 3px white;
  padding-top: 50px;
}
