.header {
  margin-top: 50px;
  border-bottom: solid 2px #FC1015;
}

.search {
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-trip-infos {
  padding-left: 0px;
  padding-bottom: 0px;
}

.card-trip-index {
  padding: 20px;
  padding-bottom: 30px;
}

.card-trip-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  &:hover {
    border-bottom: 3px solid red;
  }
}


.card-trip-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.card-trip-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-index .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.bid-count {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  height: 40px;
  align-items: center;
}

.card-overview-dashboard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

