<div class="container">
  <h1>Here's a list of all our artifacts:</h1>
  <div class="card-grid-artifact">
    <% @artifacts.each do |artifact| %>
      <div class="card-artifact">
        <h1><%= link_to artifact.name.capitalize, artifact_path(artifact)  %></h1>
        <p>Artist: <%= artifact.artist  %></p>
        <p>Year: <%= artifact.year  %></p>
        <p>Starting value: <%= artifact.starting_value  %>€</p>
      </div>
  <% end %>
  </div>
</div>
